/* styles using by icontent */
.path-mod-icontent .block_icontent_toc .action-list {
	float: right;
}
.dir-rtl.path-mod-icontent .block_icontent_toc .action-list {
	float: left;
}
.path-mod-icontent .block_icontent_toc .action-list img.smallicon {
	margin: 0 3px;
}

.path-mod-icontent .icontent_toc{
    font-size: 0.8em;
}
.block_icontent_toc .icontent_toc li {
    list-style: outside none none;
}
.block_icontent_toc .icontent_toc ul {
    margin: 0 0 0 5px;
    padding-left: 0;
    padding-right: 0;
}
.block_icontent_toc .icontent_toc li {
    clear: both;
    list-style: none;
    margin-top: 0.5em;
}
.block_icontent_toc .icontent_toc ul li .active{
	cursor: default;
    font-weight: bolder;
    pointer-events: none;
}
.statusdisplay {
    background-color: #ffc;
    clear: both;
    margin: 0.3em 1em 0.3em 0;
    padding: 1px;
}
.statusdisplay p {
    margin: 0.4em;
}
.icontent-page .row {
	margin-left: 0;
}
.icontent-page .previous{
	text-align: right;
}
.icontent-page .pagenum{
	text-align: right;
}
.full-paging-buttonbar{
	text-align: center;
}
.simple-paging-buttonbar{
	text-align: center;
}
.simple-paging-buttonbar button{
	min-width: 120px;
}
.icontent-page .pagenum span{
	margin-right: 5px;
	border: 1px solid #E3E3E3;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 12px;
}
.icontent-page .pagenum span em{
	font-style: normal;
	font-size: 16px;
}

.icontent-page .fulltextpage{
	letter-spacing: 0.1px;
  line-height: 1.66em;
  padding: 10px 15px;
  word-spacing: 0.3px;
}
/*Hightcontrast */
.icontent-page .highcontrast h1,
.icontent-page .highcontrast h2,
.icontent-page .highcontrast h3,
.icontent-page .highcontrast h4,
.icontent-page .highcontrast h5,
.icontent-page .highcontrast h6,
.icontent-page .highcontrast a
{
  color: #ff0;
}
.icontent-page .highcontrast p, 
.icontent-page .highcontrast b,
.icontent-page .highcontrast strong,
.icontent-page .highcontrast span,
.icontent-page .highcontrast{
  color: #fff;
}
.icontent-page .highcontrast .notesarea .notelist .pagenoterow{
  background-color: #222;
  border-bottom: 1px solid #555;
}
/*End Hightcontrast */
.icontent-page .fulltextpage .toolbarpage{
	text-align: right;
}
.icontent-page .fulltextpage h3.pagetitle{
	
}
.icontent-page .fulltextpage p{
	font-size: 15px;
	text-indent: 1.25em;
}
.icontent-page .fulltextpage .toolbarpage a{
	margin: 0;
}
.icontent-page .fulltextpage .toolbarpage .icon{
  margin-left: 10px;
}
.icontent-page .fulltextpage .formcomment{
	margin-top: 15px;
	text-align: right;
}
.icontent-page .fulltextpage img{
	margin-right: 10px;
}
.icontent-page .fulltextpage .loading{
	margin-left: 27%;
  margin-top: 25%;
  position: absolute;
}
/* Resolution < 990*/
@media (max-width: 990px) {
	.icontent-page .fulltextpage .loading{
		margin-left: 0%;
	    margin-top: 0%;
	    position: absolute;
	}
}
.icontent-page .fulltextpage .loading .img-loading{
	
}
/** BOOTSTRAP IMGs*/
.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    height: auto;
    line-height: 1.42857;
    max-width: 100%;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}
.img-circle {
    border-radius: 50%;
}

.img-rounded {
    border-radius: 6px;
}

/** NOTES AREA */
.notesarea #note .fields span{
	margin-right: 15px;
}
.notesarea #tabnav #messagenotes{
 	background: #6DB143 none repeat scroll 0 0;
    border-radius: 10px;
    font-size: 0.7em;
    line-height: 1.2em;
    text-align: center;
    color: #FFFFFF;
    float: right;
    margin-left: 3px;
    margin-top: -5px;
    padding: 4px 5px 2px;
}
.notesarea #tabnav #messagedoubt{
 	background: #238BC7 none repeat scroll 0 0;
    border-radius: 10px;
    font-size: 0.7em;
    line-height: 1.2em;
    text-align: center;
    color: #FFFFFF;
    float: right;
    margin-left: 3px;
    margin-top: -5px;
    padding: 4px 5px 2px;
}
.notesarea #tabnav #messagedoubt:hover,
.notesarea #tabnav #messagenotes:hover{
	text-decoration: none;
}
.notesarea .titlenotes{
	text-transform: uppercase;
}
/** List of anotations **/
.icontent-page .notesarea .notelist .noterowicontent{
	margin-left: 45px;
	font-size: 13px;
}
.icontent-page .notesarea .notelist .noterowicontent .noteheader .noteon{
	color: #aaa;
}
.icontent-page .notesarea .notelist .noterowicontent .notefooter .notedate, 
.icontent-page .notesarea .notelist .noterowicontent .notefooter a{
	color: #aaa;
	font-size: 12px;
}
.icontent-page .notesarea .notelist .noterowicontent .notefooter a{
	cursor: pointer;
}
.icontent-page .notesarea .notelist .noterowicontent .notefooter a:hover{
	text-decoration: none;
	color: #555;
}
.icontent-page .notesarea .notelist .pagenoterow{
	background-color: #fff;
    border-bottom: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
}
/* List-Groups Bootstrap*/
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.list-group-item {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;
}
.list-group-item > .badge {
    float: right;
}

/* Organization of notes in at levels */
.icontent-page .notelist .level-2{
	margin-left: 4%;
}
.icontent-page .notelist .level-3{
	margin-left: 8%;
}
.icontent-page .notelist .level-4{
	margin-left: 12%;
}
.icontent-page .notelist .level-5{
	margin-left: 16%;
}
.icontent-page .notelist .level-6{
	margin-left: 20%;
}
.icontent-page .notelist .level-7{
	margin-left: 24%;
}
.icontent-page .notelist .level-8{
	margin-left: 28%;
}
.icontent-page .notelist .level-9{
	margin-left: 32%;
}
.icontent-page .notelist .level-10{
	margin-left: 35%;
}
.icontent-page .notelist .level-11{
	margin-left: 38%;
}
.icontent-page .notelist .level-12{
	margin-left: 40%;
}

/* Page Layout */
.icontent-page .fulltextpage .columns-2{
  -webkit-columns: 2 200px;
     -moz-columns: 2 200px;
          columns: 2 200px;
  -webkit-column-gap: 4em;
     -moz-column-gap: 4em;
          column-gap: 4em;
  -webkit-column-rule: 1px dotted #ddd;
     -moz-column-rule: 1px dotted #ddd;
          column-rule: 1px dotted #ddd;
}
.icontent-page .fulltextpage .columns-3{
  -webkit-columns: 3 200px;
     -moz-columns: 3 200px;
          columns: 3 200px;
  -webkit-column-gap: 4em;
     -moz-column-gap: 4em;
          column-gap: 4em;
  -webkit-column-rule: 1px dotted #ddd;
     -moz-column-rule: 1px dotted #ddd;
          column-rule: 1px dotted #ddd;
}
.icontent-page .fulltextpage .columns-4{
  -webkit-columns: 4 165px;
     -moz-columns: 4 165px;
          columns: 4 165px;
  -webkit-column-gap: 4em;
     -moz-column-gap: 4em;
          column-gap: 4em;
  -webkit-column-rule: 1px dotted #ddd;
     -moz-column-rule: 1px dotted #ddd;
          column-rule: 1px dotted #ddd;
}

.icontent-page .fulltextpage .columns-5{
  -webkit-columns: 5 120px;
     -moz-columns: 5 120px;
          columns: 5 120px;
  -webkit-column-gap: 4em;
     -moz-column-gap: 4em;
          column-gap: 4em;
  -webkit-column-rule: 1px dotted #ddd;
     -moz-column-rule: 1px dotted #ddd;
          column-rule: 1px dotted #ddd;
}

@media (max-width: 990px) {
	.icontent-page .previous{
		text-align: center;
	}
	.icontent-page .next{
		text-align: center;
	}
	.icontent-page .notesarea .userpicture{
		display: none;
	}
}

.pull-right{
	float: right !important;
}
.pull-left{
	float: left;
}

/*Table addquestionpage */
table.icontentquestions{
	margin-bottom: 10px !important;
}
table.icontentquestions .header{
	text-align: left !important;
}

table.icontentquestions .qtype{
	text-align: left !important;
	width: 5% !important;
}

table.icontentquestions .questionname {
    white-space: normal !important;
}

table.icontentquestions td{
	padding: 5px !important;
}
#idtableattemptsusers .fullname .lkfullname{
	margin-left: 5px;
}
#idtableattemptsusers a.btn-primary{
	color: white;
}
#idtableattemptsusers a.btn-toevaluate{
	padding: 4px 10px !important;
}
/** Progress bar Twitter Boostrap 3.5 */
.progress {
  height: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress .progress-bar .sr-only{
	position: unset;
}
#idicontentpages .text-uppercase{
	text-transform: uppercase;
}

/* CHANGING COLOR OF SELECTED TEXT */
::-moz-selection {
	background:#036;
	color:#FFF;
}
::selection {
	background:#036;
	color:#FFF;
}